<% content_for(:title, t('.title')) %>
<div class="flex justify-center font-serif">
  <div class="bg-white rounded-lg lg:w-5/12 md:6/12 w-10/12 shadow-3xl mb-16">
    <div class="flex justify-center">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <h1 class="text-gray-600 text-center text-2xl mt-12"><%= t '.title' %></h1>
        <%= render 'list' %>
      </div>
    </div>
  </div>
</div>
