<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New design tip</h1>

  <%= render "form", design_tip: @design_tip %>

  <%= link_to t('design_tips.index.to_index'), admin_design_tips_path, class: "btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg" %>
</div>
