<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class='font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12'>Design Trip</div>
    <p class="text-gray-600 mb-8">
      世の中には色々なデザインがあります。<br>
      いいデザインを見つける旅に出てみましょう！<br>
      <br>
      ピンをクリックすると表示される地域名から<br>
      地域毎のWebサイトのリンク集にアクセスできます。<br>
    </p>
  </div>
</div>

<div class='flex justify-center pb-8'>
  <div id='map'></div>
</div>

<style>
#map {
  height: 700px;
  width: 1400px;
  filter: sepia(.60);
}
</style>

<script>
let map;
let geocoder;
let marker = [];
let infoWindow = [];
const maps = gon.maps;
const display = document.getElementById('display');

function initMap(){
  geocoder = new google.maps.Geocoder()

  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat:35.68, lng:139.76},
    zoom: 2,
  });

  for (let i = 0; i < maps.length; i++) {
    marker[i] = new google.maps.Marker({
      map: map,
      position: {
        lat: maps[i].latitude,
        lng: maps[i].longitude
      },
      icon: '<%= asset_path("pin.png") %>'
    });

    infoWindow[i] = new google.maps.InfoWindow({
      content: `<a href='/maps/${maps[i].id}'>${maps[i].name}</a>`,
    });
    
    marker[i].addListener('click', function() {
      infoWindow[i].open(map, marker[i]);
    });
  }
}

function codeAddress(){
  let inputAddress = document.getElementById('address').value;

  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
      map.setCenter(results[0].geometry.location);
      var marker = new google.maps.Marker({
        map: map,
        position: results[0].geometry.location
      });
      display.textContent = "検索結果：" + results[ 0 ].geometry.location
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.dig(:google, :map_key) %>&callback=initMap" async defer></script>
