<label for="my-modal-<%= design_tip.id %>" class="container text-gray-400 hover:bg-amber-100 rounded-lg flex items-center text-sm">
  <div>評価する</div>
</label>

<%= render 'design_tips/modal', design_tip: design_tip%>