<%= link_to new_user_path, data: { turbo_method: :get, turbo_confirm: '評価機能を利用するにはユーザー登録が必要です。ユーザー登録画面に移動しますか？' } do %>
  <label for="my-modal-3" class="container text-gray-500 flex items-center text-xs">
    <div>評価する</div>
  </label>
<% end %>
