<label for="my-modal-<%= design_tip.id %>" class="container text-gray-300 hover:bg-pink-50 rounded-lg flex items-center text-xs">
  <svg class="icons-favorite_border"><use xlink:href="#icons-favorite_border"></use></svg>
  <div>お気に入り</div>
</label>

<%= render 'design_tips/modal', design_tip: design_tip%>