<%= turbo_frame_tag dom_id(design_tip, :like_design_tip) do %>
  <div class='container'>
    <%= link_to like_path(current_user.likes.find_by(design_tip_id: design_tip.id)), id: "js-like-button-for-design_tip-#{design_tip.id}",class: 'flex items-center text-xs', data: { turbo_method: :delete } do %>
      <svg class="icons-favorite"><use xlink:href="#icons-favorite"></use></svg>
      <div class="text-gray-500">お気に入り</div>
    <% end %>  
  </div>
<% end %>