<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Design tips</h1>
    <%= link_to 'New design tip', new_design_tip_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="design_tips" class="min-w-full">
    <%= render '@design_tip', q: @q, url: design_tips_path %>
  </div>
</div>
