<% content_for(:title, t('.title')) %>
<div class='flex justify-center pt-10'>
  <%= render 'home/search_form' %>
</div>

<div class="container pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
  <% if @design_tips.present? %>
    <%= render @design_tips %>
  <% else %>
    <p><%= t('.no_result') %></p>
  <% end %>
</div>
