<% content_for(:title, t('.title')) %>
<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
  <div class='text-gray-600 text-lg md:text-2xl font-serif mb-8 md:mb-12 ml-2 lg:ml-0'>
    お気に入り情報一覧
  </div>
  <div class="pt-3 grid sm:grid-cols-2 xl:grid-cols-3 gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
    <% if @like_design_tips.present? %>
      <%= render @like_design_tips %>
    <% else %>
      <p>お気に入り中の情報がありません</p>
    <% end%>
  </div>
</div>


