<header class="flex justify-between font-serif items-center py-4 md:py-8 mb-8 md:mb-12 xl:mb-16">
  <%= link_to '誰でもデザイン', root_path, class: 'inline-flex items-center text-black-800 text-2xl md:text-3xl font-bold gap-2.5" aria-label="logo' %>
  <nav class="text-sm md:text-lg lg:flex gap-12 font-semibold items-center">
    <%= link_to '初心者はこちら', for_beginner_path, class: 'btn bg-green-800 hover:bg-green-700 text-white rounded-lg' %>
    <%= link_to 'ログイン', login_path, class: 'text-gray-500 hover:text-green-800 active:text-green-900' %>
  </nav>
</header>
