<header class="py-6">
  <div class="container mx-auto flex justify-center">
    <div class="space-x-20">
      <%= link_to '初心者はこれ', for_beginner_path %>
      <%= link_to 'トップページへ', root_path %>
      <%= link_to 'ログイン', '#' %>
    </div>
  </div>
</header>
