<% if object.errors.any? %>
  <div class='text-red-600 text-xl pb-8'>
    <ul>
      <% object.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>