<% flash.each do |message_type, message| %>
  <% if message_type == 'success' %>
    <div class="mx-auto justify-center alert alert-success font-serif text-white bg-green-700 rounded-md w-1/2 lg:w-1/4 shadow-lg my-6"><%= message %></div>
  <% elsif message_type == 'error' %>
    <div class="mx-auto justify-center alert alert-error font-serif rounded-md w-3/4 lg:w-1/2 shadow-lg m-8"><%= message %></div>
  <% end %>
<% end %>
