<footer class="py-6">
  <div class="container mx-auto flex justify-center">
    <div class="space-x-20">
      <%= link_to '利用規約', '#' %>
      <%= link_to 'プライバシーポリシー', '#' %>
      <%= link_to 'お問い合せ', '#' %>
    </div>
  </div>
</footer>