<%= search_form_for @q, url: search_design_tips_path do |f| %>
  <%= f.search_field :title_cont, class: "w-64 h-12 outline-green-800 rounded-lg font-serif", placeholder: 'フリーワード検索' %>
  <button class="btn btn-outline outline-green-800 text-green-800 hover:text-white hover:bg-green-800 rounded-lg font-serif">検索</button>
<% end %>