<%= search_form_for @q, url: search_design_tips_path, class: 'flex items-center gap-2 font-serif' do |f| %>
  <%= f.search_field :title_cont, class: "w-44 md:w-48 md:w-64 h-12 outline-green-800 rounded-lg", placeholder: 'タイトル検索', autocomplete: "on", list: "titles", required: true %>
  <datalist id="titles">
    <% @search_design_tips.each do |design_tip| %>
      <option value="<%= "#{design_tip.title}" %>"></option>
    <% end %>
  </datalist>
  <button class="btn bg-green-700 hover:bg-green-600 text-white rounded-lg hidden md:inline-block">
    <div class='flex items-center'>
      <svg class="icons"><use xlink:href="#icons-search"></use></svg>
      <div>検索</div>
    </div>
  </button>
<% end %>
