<div>
  <h1 class="font-bold text-4xl">初心者はまずこれ</h1>
  <br>
  <br>
  <br>
  <h2>知る</h2>
    <p>
      何事も基本が大切。まずは基本を学んでいきましょう。<br>
      デザインの基本の中でも4つの基本原則というものが非常に役に立ちます。<br>
      以下のサイトを参考にイメージをつかんでみましょう。<br>
      <br>
      書籍で学ぶのもおすすめです。<br>
      以下の書籍を参考にしてみてください。<br>
      <br>
      <br>
      <br>
    </p>
  <h2>見る</h2>
    <p>
      綺麗なデザインを見て学んでみましょう。<br>
      素敵なデザインを集めてみました。<br>
      なぜ綺麗に見えるのか？<br>
      意識して見てみることでデザインのヒントが見つかるはずです。<br>
      <br>
      <br>
      <br>
    </p>
  <h2>実践する</h2>
    <p>
      学んだことは実践してみましょう。<br>
      以下の書籍が非常に役に立ちます。<br>
      丁寧に解説されておりおしゃれなサイトが作れるのて最初の一冊に最適です。<br>
      学んでいてとても楽しくなりますよ。<br>
      <br>
      <br>
      <br>
    </p>
</div>
