<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class="font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12">サービスの運用について</div>
    <p class="text-gray-600 mb-8">
    本文<br>
    </p>
  </div>
</div>