<% content_for(:title, t('.title')) %>
<div class="pb-6 sm:pb-8 lg:pb-12 mt-20">
  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
    <div class='font-serif text-gray-600 text-xl mb:text-3xl lg:text-4xl py-12'>UI・UXクイズ</div>
    <p class="text-gray-600 mb-8">
      Webデザインを行う上で何かと耳にするUI・UXという言葉。<br>
      具体的にどんなことなのか？クイズ形式で学べるようにしてみました。<br>
    </p>
  </div>
</div>

<div class="container mx-auto pt-3 w-4/12 grid gap-8 md:gap-12 xl:gap-16 mt-20 pb-16">
  <div class="bg-white flex md:flex-row rounded-lg shadow-lg">
  あ
  </div>
</div>