/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require materialdesignicons
 *= require material_icons
 */

.tab.is-active{
  color: #9a8756;
  transition: all 0.2s ease-out;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  background: white;
}

.tab-top.is-active{
  color: #9a8756;
  transition: all 0.2s ease-out;
}

input[type="text"]:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px 0px white;
  border-bottom: solid;
  border-bottom-color: #15803d;
  background: #f3f4f6;
}

input[type="text"] {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #9ca3af;
  width: 250px;
}

input[type="email"]:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px 0px white;
  border-bottom: solid;
  border-bottom-color: #15803d;
  background: #f3f4f6;
}

input[type="email"] {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #9ca3af;
  width: 250px;
}

input[type="password"]:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 3px 0px white;
  border-bottom: solid;
  border-bottom-color: #15803d;
  background: #f3f4f6;
}

input[type="password"] {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-bottom-color: #9ca3af;
  width: 250px;
}

.icons {
  fill: white;
  width: 24px;
  height: 24px;
}

.icons-person {
  fill: #166534;
  width: 24px;
  height: 24px;
}

.icons-favorite {
  fill: #f43f5e;
  width: 24px;
  height: 24px;
}

.icons-favorite_border {
  fill: #d1d5db;
  width: 24px;
  height: 24px;
}

.icons-list {
  fill: #d1d5db;
  width: 24px;
  height: 24px;
}

.icons-list_create {
  fill: white;
  width: 24px;
  height: 24px;
}

.icons-list_edit {
  fill: #166534;
  width: 24px;
  height: 24px;
}

.icons-list_edit:hover {
  fill: #16a34a;
}

.post_form{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}
.post_form input[type='radio']{
  display: none;
}

.post_form label{
  position: relative;
  padding: 10px 3px 10px;
  color: gray;
  cursor: pointer;
  font-size: 18px;
}

.post_form label:hover,
.post_form label:hover ~ label,
.post_form input[type='radio']:checked ~ label{
  color: #ffcc00;
}

.star-rating {
  position: relative;
  display: inline-block;
  width: 5em;
  height: 1em;
  font-size: 16px;
}
.star-rating-front {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #ffcc33;
}
.star-rating-back {
  display: inline-block;
  color: #ccc;
}

.box{
  position: relative;
}

.icons-circle {
  position: absolute;
  fill: #f59e0b;
  bottom: 16px;
  left: 16px;
  width: 12px;
  height: 12px;
}

.icons-notifications {
  fill: #166534;
  width: 30px;
  height: 30px;
}

.submit:hover {
  color: #eab308;
}